.container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px;
	width: fit-content
}
.container div {
	margin: 5px
}
.Player {
	height: 270px;
	width: 480px
}
.topLeft {
	color: #fff;
	text-shadow: 2px 2px 4px #000;
  font-size: 32px;
	top: 8px;
	z-index: 1
}
.title, .topLeft {
	position: relative;
}
.title {
	color: #409cff;
	text-align:center;
  justify-items:space-evenly;
}
.subtitle{
  margin: 2%;
}
.tg {
	border-collapse: collapse;
	border-color: #9abad9;
	border-spacing: 0;
	margin: 0 auto
}
.tg td {
	background-color: #ebf5ff;
	color: #444
}
.tg td, .tg th {
	border: 1px solid #9abad9;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal
}
.tg th {
	background-color: #409cff;
	color: #fff;
	font-weight: 400
}
.tg .tg-0s81, .tg .tg-baqh, .tg .tg-j0tj {
	text-align: center;
	vertical-align: top
}
.tg .tg-0s81, .tg .tg-j0tj {
	background-color: #d2e4fc
}
.tg .tg-0s81, .tg .tg-if35 {
	text-decoration: underline
}
.tg .tg-if35 {
	text-align: center;
	vertical-align: top
}
@media screen and (max-width:767px) {
	.tg, .tg col {
		width: auto !important
	}
	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		margin: auto 0
	}
}
.dark-mode {
	background-color: #333;
	color: brown
}
